.color-primary-0 { color: #B4AB8E }	/* Main Primary color */
.color-primary-1 { color: #FFFBEF }
.color-primary-2 { color: #D9D2BC }
.color-primary-3 { color: #938968 }
.color-primary-4 { color: #665D41 }

.color-secondary-1-0 { color: #6D627A }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #AFAAB4 }
.color-secondary-1-2 { color: #898193 }
.color-secondary-1-3 { color: #554963 }
.color-secondary-1-4 { color: #382E45 }

.color-secondary-2-0 { color: #5E6A75 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #A4A9AE }
.color-secondary-2-2 { color: #7C848D }
.color-secondary-2-3 { color: #46535F }
.color-secondary-2-4 { color: #2C3742 }


#contextnavbar .navbar-inner {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006400+0,008e00+100 */
        background: #B4AB8E; /* Old browsers */
background: -moz-linear-gradient(top, rgba(217,210,188,0.91) 0%, rgba(180,171,142,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(217,210,188,0.91) 0%,rgba(180,171,142,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(217,210,188,0.91) 0%,rgba(180,171,142,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8d9d2bc', endColorstr='#b4ab8e',GradientType=0 ); /* IE6-9 */
        color: white;
        text-decoration-color: none;
}
#contextnavbar .navbar-static-top {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006400+0,008e00+100 */
        background: #B4AB8E; /* Old browsers */
background: -moz-linear-gradient(top, rgba(217,210,188,0.91) 0%, rgba(180,171,142,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(217,210,188,0.91) 0%,rgba(180,171,142,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(217,210,188,0.91) 0%,rgba(180,171,142,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8d9d2bc', endColorstr='#b4ab8e',GradientType=0 ); /* IE6-9 */
        color: white;
}
#contextnavbar .navbar-inner > .container-fluid {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006400+0,008e00+100 */
        background: #B4AB8E; /* Old browsers */
background: -moz-linear-gradient(top, rgba(217,210,188,0.91) 0%, rgba(180,171,142,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(217,210,188,0.91) 0%,rgba(180,171,142,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(217,210,188,0.91) 0%,rgba(180,171,142,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8d9d2bc', endColorstr='#b4ab8e',GradientType=0 ); /* IE6-9 */
        color: white;
        text-decoration: none;
}
#top ul.nav li {
        padding-top: 3px;
}
#top .nav > .active > a {
        background-color: #eee;
        text-shadow:none;
        color: #F05722;
        font-weight: bold;
}
#top .nav > .active > a:hover {
        background-color: #eee;
        text-shadow:none;
        color: #F05722;
        font-weight: bold;
}
#top .nav > li > a {
        color: #F05722;
        text-shadow: none;
        font-weight: bold;
}
#top .nav > li > a:hover {
        color: #F05722;
        background-color: #eee;
        text-shadow: none;
        font-weight: bold;
        text-decoration: underline;
}

#contextnavbar .nav > .active > a {
        background-color: #eee;
        text-shadow:none;
        color: #F05722;
        font-weight: bold;
}
#contextnavbar .nav > .active > a:hover {
        background-color: #eee;
        text-shadow:none;
        color: #F05722;
        font-weight: bold;
}
#contextnavbar .nav > li > a {
        color: white;
        text-shadow: none;
        font-weight: bold;
}
#contextnavbar .nav > li > a:hover {
        color: #F05722;
        background-color: #eee;
        text-shadow: none;
        font-weight: bold;
        text-decoration: underline;
}

a {
        color: #382E45;
        text-decoration: underline dotted;
}
a:hover {
        color: #898193;
        text-decoration: underline;
}

.btn-info {
        background-color: #898193;
        background-image: none;
}
.btn-info:focus {
        background-color: #554963;
        background-image: none;
}
.btn-info:active {
        background-color: #554963;
        background-image: none;
}
.btn-info:hover {
        background-color: #AFAAB4;
        background-image: none;
}

.alert-info td {
    border-top: 1px solid #aed5e8;
}

div.error {
    background-color: #f5e5e5;
    border: 1px solid #e35e61;
    border-radius: 4px;
    padding: 3px;
}

/*img.leaflet-marker-icon {opacity: 0.5;}*/
